@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #520645;
    --light_primary: #846f86;
}

.bg-primary {
    background-color: var(--primary);

}

.text-primary {
    color: var(--primary);
}

.bg-light_primary {
    background-color: var(--light_primary)
}

.container {
    width: 96;
    margin: 2px auto;
}

body {
    font-family: "Noto Sans", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f7f7f7;

}
.description span {
    font-size: 20px !important;
    font-family: 'Courier New', Courier, monospace;
    font-style:normal;
}
.p {
    font-size: 22px !important;
    font-family: 'Times New Roman', Times, serif;
    font-style:normal;
}

.nav.ul {
    padding-left: 4px;
    padding-bottom: 2px;
    margin: auto;

}


